In [3]:
import pandas as pd
from matplotlib import pyplot as plt

In [4]:
df = pd.read_csv('../pcexpress.csv')

In [5]:
df.head()

,name,vram,gddr,brand,price
0,INTEL ARC A750 (INTEL-21P02J00BA-99AM3D) 8GB G...,8GB,GDDR6,Intel,15700.0
1,ZOTAC RTX4070TI TRINITY OC 12GB GDDR6X 192-bit...,12GB,GDDR6X,Zotac,58450.0
2,ZOTAC RTX3060 TWIN EDGE 12GB GDDR6 192-bit Gra...,12GB,GDDR6,Zotac,20500.0
3,ZOTAC RTX3050 TWIN EDGE OC 8GB GDDR6 128-bit G...,8GB,GDDR6,Zotac,16500.0
4,ZOTAC GTX1650 AMP CORE 4GB GDDR6 128-bit Graph...,4GB,GDDR6,Zotac,9650.0

In [7]:
df1 = df.groupby('brand').size()
df1.head()

brand
AFOX         1
Asus        23
COLORFUL     6
Galax        3
Gigabyte    17
dtype: int64