# Exploratory data analysis

In [24]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [25]:
gpu_df = pd.read_csv('../gpu_specs_prices.csv')

In [26]:
brandcount = gpu_df.groupby('brand').size()

In [27]:
brandcount = brandcount.reset_index()

In [28]:
brandcount = brandcount.rename(columns={0: 'count'})
brandcount

         brand  count
0         AFOX      1
1         Asus     23
2     COLORFUL      6
3        Galax      3
4     Gigabyte     17
5       Inno3D      4
6        Intel      1
7          MSI     10
8        Palit      2
9   PowerColor      1
10       Zotac      4